body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

/* CHARACTERS ROSTER */

#characters {
    display: flex;
    justify-content: space-around;
}

.char {
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15rem;
}

.name {
    color: gold;
}

.health {
    font-size: 2rem;
}

.char-buttons {
    /* outline: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    width: 7rem;
    margin: 1rem 0 0;
}

.health-button {
    font-size: 2rem;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: green;
}

.sub-button {
    background-color: red;
}

/* ADD CHARACTER FORM */

#form-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.no-display {
    display: none;
}

.flex {
    display: flex;
}

#add-char-form {
    outline: 1px solid red;
    width: 18rem;
}

#add-char-form span {
    display: inline-block;
    width: 4rem;
}

/* hide increment/decrement arrows */
.hp::-webkit-outer-spin-button,
.hp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#add-name {
    width: 13rem;
}

.hp {
    width: 5.875rem;
}

#add-char-form button {
    width: 98.75%;
    /* margin: 0 .25rem; */
}

/* FORM CONTROLLER */

#form-controller {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: .5rem
}